{% extends 'base.html' %}

{% block content %}

    <h6>Halaman Mahasiswa</h6>
    <a href="{% url 'add_mahasiswa' %}" class="btn btn-primary btn-sm">Tambah</a>
    <table class="table table-striped"> 
        <thead>
            <th>NIM</th>
            <th>NAMA</th>
            <th>JURUSAN</th>
            <th>ANGKATAN</th>
            <th>AKSI</th>
        </thead>
        <tbody>
            <tr>
                <td>091990</td>
                <td>Nasruddin</td>
                <td>Sistem Informasi</td>
                <td>2009</td>
                <td>
                    <a href="" class="btn btn-warning btn-sm">Edit</a>
                    <a href="" class="btn btn-danger btn-sm">Hapus</a>
                </td>
            </tr>
            <tr>
                <td>091990</td>
                <td>Nasruddin</td>
                <td>Sistem Informasi</td>
                <td>2009</td>
                <td>
                    <a href="" class="btn btn-warning btn-sm">Edit</a>
                    <a href="" class="btn btn-danger btn-sm">Hapus</a>
                </td>
            </tr><tr>
                <td>091990</td>
                <td>Nasruddin</td>
                <td>Sistem Informasi</td>
                <td>2009</td>
                <td>
                    <a href="" class="btn btn-warning btn-sm">Edit</a>
                    <a href="" class="btn btn-danger btn-sm">Hapus</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock content %}